* {
  font-family: 'Amatic SC', cursive;
  box-sizing: border-box;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#head {
  position: absolute;  
  z-index: 2;
}

.svg-text {
  fill: black;
  font-size: 3.5em;
  font-weight: 800;
}

.svg-masked-text {
  fill: white;
  font-size: 3.5em;
  font-weight: 500;
}