::root {
	--main: "#efefef";
}

* {
	font-family: 'Amatic SC', cursive;
	box-sizing: border-box;
}

html{
	height: 100%;
}
body {
	min-height: 100%;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#head {
	position: absolute;
	z-index: 2;
}

h1 span {
	color: white;
	font-size: 4rem;
}
